.svn

# Mac ignores
.DS_Store

# Rails ignores
*.log
tmp/

# Xcode ignores
build/
*.pbxuser
*.mode2v3
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3

# Android ignores
local.properties
/bin
/gen
