<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
	</system.web>
  <appSettings>
    <!-- This is mandatory parameter,Set the value as per your registered application 'API key' field value.
    -->
    <add key="api_key" value="a5c40b58eff37d49df96e22dc4b046fd"/>

    <!-- This is mandatory parameter,Set the value as per your registered application 'Secret key' field value.
    -->
    <add key="secret_key" value="c1b6f48ebf46732f"/>

    <!-- This is mandatory parameter, Set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value="https://api.att.com"></add>
    
   <!-- This is mandatory key, which will point to the file, which is used by application to store
         the received online delivery status messages.
         example: value="~\\Status.txt"-->
    <add key="deiveryStatusFilePath" value ="DeliveryStatus.txt"/>

    <!-- This is optional parameter, these many records will be stored in file-->
    <add key="numberOfDeliveryStatusToStore" value="5"/>
    
  </appSettings>
 </configuration>
