<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory parameter, set the value as per your registered 
    application 'API key' field value. -->
    <add key="apiKey" value=""/>

    <!-- This is mandatory parameter, set the value as per your registered 
    application 'Secret key' field value. -->
    <add key="secretKey" value=""/>

    <!-- This is mandatory parameter, Set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value=""/>

    <!-- This is optional key, the value of the this key is sent as a X-Agr hearder.
    which should contain name value pair separated by semicolan in the format name=value,name1=value1 
    example: value="AppId=TextToSpeechApp,OrgId=ATT,VoiceName=mike,ClientApp=TextToSpeechApp,ClientVersion=2_3,ClientScreen=Browser,ClientSdk=MSSDK,Volume=100,Tempo=0"-->
    <add key="X-Arg" value=""/>

    <!-- This is mandatory key, the value of the this key is used to populate Speech Context drop down list.
    The value of this key should contain list of speech context values separated by semicolan 
    example: value="en-US;es-US"-->
    <add key="ContentLanguage" value=""/>

    <!-- This is mandatory key, the value of the this key is used to populate ContentType drop down list.
    The value of this key should contain list of ContentType separated by semicolan 
    example: value="text/plain;application/ssml+xml"-->
    
    <add key="ContentType" value=""/>
    
    </appSettings>
</configuration>
