<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
    
  <!-- This is mandatory parameter, set the value as per your registered application 'API key' field value.
    -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter, set the value as per your registered application 'Secret key' field value.
    -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value=""></add>

    <!-- This is mandatory parameter, set the value as per your registered application 'Short Code' field value.
    -->
    <add key="short_code" value=""/>
    
    <!-- This is mandatory key, which will point to the file, which is used by application to store
         the received online delivery status messages.
         example: value="DeliveryStatus.txt"-->
    <add key="deiveryStatusFilePath" value =""/>

   <!-- This is optional parameter, these many records will be stored in file-->
    <add key="numberOfDeliveryStatusToStore" value=""/>
    
	</appSettings>
</configuration>
