<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
	  <!-- Set this parameter value to "true", if you need to bypass the SSL certificate. Default FALSE -->
	  <add key="IgnoreSSL" value="false"/>
    <!-- This is mandatory key and value should be equal
         to  SMS Service registered application 'API key'
         example: value="edd036a37549f429ca6546474c0865c5c85" -->
    <add key="api_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  SMS Service registered application 'Secret key'
         example: value="e0d0cc6a2dfs93627fe"-->
    <add key="secret_key" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment -->
    <add key="endPoint" value=""></add>
    
    <!-- This is optional key, which points to the file path, and application uses this key's value to create/update 
         the file with access token information, so, make sure to give write access to the folder defined.
         If the key is not defined, SMSApp1AccessToken.txt will be created at root folder, so, make sure to give
         write access to the root folder
         example: value="~\\SMSApp1.txt" -->
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs. Default value is 24Hrs.
         example: value="24"-->
    <add key="refreshTokenExpiresIn" value=""/>


    <!-- This is mandatory key, the value of the this key is used to populate Messages drop down list.
    The value of this key should contain list of messages values separated by _-_-  -->
    <add key="SMSSampleMessage" value=""/>

    <!-- These are optional parameters and they are used to link the header-->
    <add key="SourceLink" value=""/>
    <add key="DownloadLink" value=""/>
    <add key="HelpLink" value=""/>


    <!-- This is mandatory key, which will specify the shortcode of the registered application
         example: value="99999999"-->
    <add key="OnlineShortCode" value =""/>

    <!-- This is mandatory key, which will specify the shortcode of the registered application
         example: value="99999999"-->
    <add key="OfflineShortCode" value =""/>

    <!-- This is mandatory key, which will point to the file, which is used by application to store
         the received online delivery status messages.
         example: value="~\\Status.txt"-->
    <add key="ReceivedDeliveryStatusFilePath" value =""/>
    
    <!-- This is mandatory key, which will point to the file, which is used by application to store
         the received online messages.
         example: value="~\\Messages.txt"-->
    <add key="ReceivedMessagesFilePath" value =""/>
    
    <!-- These are mandatory key and value, which defines API endpoints-->
    <add key="SendSMSURL" value ="/sms/v3/messaging/outbox"/>
    <!-- append message id at end-->
    <add key="GetDeliveryStatusURL" value="/sms/v3/messaging/outbox/"/>
    <!-- append short code as query parameter RegistrationID at end -->
    <add key="GetSMSURL" value="/sms/v3/messaging/inbox"/>

    <!-- This is optional parameter, these many records will be stored in file-->
    <add key="NumberOfMessagesToStore" value="5"/>

    <!-- This is optional parameter, these many records will be stored in file-->
    <add key="NumberOfDeliveryStatusToStore" value="5"/>
    
  </appSettings>
</configuration>