<?xml version="1.0"?>
<!-- For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
	  <!-- Set this parameter value to "true", if you need to bypass the SSL certificate. Default FALSE -->
	  <add key="IgnoreSSL" value="false"/>
    <!-- This is mandatory parameter, set the value as per your registered application
    'API key' field value. -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter, set the value as per your registered application
    'Secret key' field value. -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, set it to the end point URI of AT&T Service. -->
    <add key="FQDN" value=""></add>

    <!-- Scope of the ATT service that will be invoked by the Application -->
    <add key="scope" value="SPEECH"/>

    <!-- This is optional parameter, which points to the file path, where application 
    stores access token information. If the parameter is not configured, it will take 
    the default value as ~\\SpeechApp1AccessToken.txt)
	  example: value="~\\Token.txt" -->
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is mandatory parameter, which points to the directory which contains
    only speech files.  The filenames of this directory will be listed in drop down list.
	  example: value="~\\<SpeechFilesDirPath>\\" -->
    <add key="SpeechFilesDir" value =""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs. Default value is 24Hrs.
         example: value="24"-->
    <add key="refreshTokenExpiresIn" value=""/>

    <!-- This is optional key, the value of the this key is sent as a X-Agr hearder.
    which should contain name value pair separated by semicolan Ex: name=value,name1=value1 -->
    <add key="X-ArgGeneric" value="ClientApp=VbClientApp,ClientVersion=2_2,ClientScreen=Browser,ClientSdk=VbRestful,DeviceType=WebServer,DeviceOs=Windows"/>

    <add key="X-ArgSocialMedia" value="facebook%2Ctwitter%2CCreditt"/>
    <add key="X-ArgTV" value="DeviceId=123456,NumResults=10"/>
    <add key="X-ArgGaming" value="PunctuateFlag=false"/>
    <add key="X-SpeechSubContext" value="Chat"/>
    <!-- This is mandatory key, the value of the this key is used to populate Speech Context drop down list.
    The value of this key should contain list of speech context values separated by semicolan -->
    <add key="SpeechContext" value="Generic;TV;BusinessSearch;Websearch;SMS;Voicemail;QuestionAndAnswer;Gaming;SocialMedia"/>

    <!-- These are optional keys.  the values are used for hyperlink -->
    <add key="SourceLink" value=""/>
    <add key="DownloadLink" value=""/>
    <add key="HelpLink" value=""/>

  </appSettings>
</configuration>