<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxQueryStringLength = "12288" maxRequestLength="12288"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    
    <!-- This is mandatory parameter,Set the value as per your registered application 'API key' field value.
    -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter,Set the value as per your registered application 'Secret key' field value.
    -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, Set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value=""></add>

    <!-- This is optional key and value should be equal to  registered application scope
    -->
    <add key="scope" value="PAYMENT"/>
    
    <!-- This is mandatory key and valid values are "subscription" or "transaction".
    -->
    <add key="paymentType" value=""/>

    <!-- This is mandatory key and has to be decimal format.
    -->
    <add key="Amount" value=""/>
    
    <!-- This is mandatory key and has to be one of the value 1,3,4,5 
    -->
    <add key="Category" value=""/>
    
    <!-- This is optional key and if you want to define, define only as MOBILE_WEB.
    -->
    <add key ="Channel" value="MOBILE_WEB"/>

    <!-- Set to the URL pointing to the application. ATT platform uses this URL to return the control back to the application after subscription processing is completed.
	 example : https://IIS_HOSTNAME:8080/payment/app2/Default.aspx.
    -->
    <add key ="MerchantPaymentRedirectUrl" value =""/>

    <!-- This is optional key and if you want to define, define only as false 
    --> 
    <add key ="IsPurchaseOnNoActiveSubscription" value =""/>

    <!-- This is optional key and if you want to define, define only as 9999
    -->
    <add key ="SubscriptionRecurringNumber" value =""/>

    <!-- This is optional key and if you want to define, define only as MONTHLY.
    -->
    <add key ="SubscriptionRecurringPeriod" value =""/>

    <!-- This is optional key and if you want to define, define only as 1
    -->
    <add key ="SubscriptionRecurringPeriodAmount" value =""/>

  </appSettings>
</configuration>