<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>sms</display-name>
  <welcome-file-list>
    <welcome-file>SMS.jsp</welcome-file>
  </welcome-file-list>
  <display-name>AT&amp;T SMS Sample Application</display-name>

  <servlet>
    <servlet-name>SMSController</servlet-name>
    <servlet-class>com.att.api.sms.controller.SMSController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/index.jsp</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/SMS.jsp</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/sendSMS</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/getStatus</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/getMessages</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/refresh</url-pattern> 
  </servlet-mapping>

  <servlet>
    <servlet-name>SMSStatusListener</servlet-name>
    <servlet-class>com.att.api.sms.controller.SMSStatusListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSStatusListener</servlet-name>
    <url-pattern>/statuslistener</url-pattern> 
  </servlet-mapping>

  <servlet>
    <servlet-name>SMSMsgListener</servlet-name>
    <servlet-class>com.att.api.sms.controller.SMSMsgListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSMsgListener</servlet-name>
    <url-pattern>/msglistener</url-pattern> 
  </servlet-mapping>

</web-app>
