<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory parameter, set the value as per your registered 
    application 'API key' field value. -->
    <add key="apiKey" value="1395e4fb9dd16eaa16d276b56bbe9589"/>

    <!-- This is mandatory parameter, set the value as per your registered 
    application 'Secret key' field value. -->
    <add key="secretKey" value="ae39cdd2953afd37"/>

    <!-- This is mandatory parameter, set it to the end point URI of AT&T 
    Service. -->
    <add key="endPoint" value="https://api.att.com/"></add>

    <!-- This is optional parameter, which points to the default wav file, 
    which will act as a sample to show speech conversion when user has not 
    selected any wave file using Browse button.
    example: value="~\\<SpeechAppPath>\\default.wav" -->
    <add key="DefaultFile" value ="default.wav"/>

    <!-- This is optional key, the value of the this key is sent as a X-Arg header.
    which should contain name value pair separated by semicolon Ex: name=value,name1=value1  -->
    <add key="X-Arg" value="ClientApp=SpeechApp,ClientVersion=2_2,ClientScreen=Browser,ClientSdk=MSSDK,DeviceType=WebServer,DeviceOs=Windows"/>

    <!-- This is optional key, which points to the file containing inline grammar. Ex: grammar.txt -->
    <add key="X-Grammar" value="grammar.txt"/>

    <!-- This is optional key, which points to the file containing inline hints. Ex: dictionary.txt -->
    <add key="X-Dictionary" value="dictionary.txt"/>

    <!-- This is mandatory key, the value of the this key is used to populate Speech Context drop down list.
    The value of this key should contain list of speech context values separated by semicolon -->
    <add key="SpeechContext" value="GenericHints;GrammarList"/>

    <!-- This is mandatory parameter, which points to the directory which contains
    only speech files.  The filenames of this directory will be listed in drop down list.
	  example: value="~\\<SpeechFilesDirPath>\\" -->
    <add key="SpeechFilesDir" value ="audio\"/>
    
    </appSettings>
</configuration>
