<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please 
  visit http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <!-- This is mandatory key and value should be equal
         to  DC Service registered application 'API key'
         example: value=""-->
    <add key="apikey" value=""/>

    <!-- This is mandatory key and value should be equal
         to  DC Service registered application 'Secret key'
         example: value=""-->
    <add key="secretkey" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment
         example: value="https://api.att.com"-->
    <add key="endPoint" value="" />

    <!-- This is mandatory key and value should be equal
         to  DC Service registered application 'OAuth Redirect URL'
         example: value="https://IIS-Server/webroot/dc/app1/Default.aspx"-->
    <add key="authorizeRedirectUri" value=""/>
    
    <!-- This is mandatory key and value should be equal
         to  DC Service registered application scope-->
    <add key="scope" value="DC"/>


    <add key="SourceLink" value=""/>
    <add key="DownloadLink" value=""/>
    <add key="HelpLink" value=""/>



  </appSettings>
</configuration>
