<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>IMMN.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IMMNController</servlet-name>
        <servlet-class>com.att.api.immn.controller.IMMNController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MIMHeaderController</servlet-name>
        <servlet-class>com.att.api.mim.controller.MIMHeaderController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MIMContentController</servlet-name>
        <servlet-class>com.att.api.mim.controller.MIMContentController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OAuthController</servlet-name>
        <servlet-class>com.att.api.oauth.controller.OAuthController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PostOAuthController</servlet-name>
        <servlet-class>com.att.api.oauth.controller.PostOAuthController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IMMNController</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IMMNController</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MIMHeaderController</servlet-name>
        <url-pattern>/submitGetHeaders</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MIMContentController</servlet-name>
        <url-pattern>/submitGetHeaderContent</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OAuthController</servlet-name>
        <url-pattern>/oauth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PostOAuthController</servlet-name>
        <url-pattern>/postOauth</url-pattern>
    </servlet-mapping>

</web-app>
