<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory key and value should be equal
         to  Call Control Service registered application 'API key'
         example: value=""-->
    <add key="apiKey" value=""/>

    <!-- This is mandatory key and value should be equal
         to  Call Control Service registered application 'Secret key'
         example: value=""-->
    <add key="secretKey" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment
         example: value="https://api.att.com"-->
    <add key="endPoint" value="" />

    <!-- This is optional key and if you want to define, then the value should be 
         equal to  "CMS". -->
    <add key="scope" value=""/>
    
    <!-- This is optional key, which points to the file path, and application uses 
         this key's value to create/update the file with access token information, 
         so, make sure to give write access to the folder defined. 
         If the key is not defined, CCSApp1AccessToken.txt will be created at 
         root folder, so, make sure to give write access to the root folder.
         example: value="CCSApp1AccessToken.txt" -->
    <add key="AccessTokenFilePath" value =""/>

    <!-- This is optional key, which specifies the expiry time of refresh token in Hrs.
         Default value is 24Hrs.-->
    <add key="refreshTokenExpiresIn" value=""/>

    <!-- This is mandatory key, which specifies the registered phone numbers 
         for this application. -->
    <add key="phoneNumbers" value=""/>
    
    <!-- This is mandatory key, which specifies the script name (path) 
         for this application. -->
    <add key="scriptName" value=""/>

    <!-- These are optional keys.  the values are used for hyperlink -->
    <add key="SourceLink" value=""/>
    <add key="DownloadLink" value=""/>
    <add key="HelpLink" value=""/>
    
  </appSettings>
</configuration>