<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>

    <!-- This is mandatory key and value should be equal
         to  Call Control Service registered application 'API key'
         example: value=""-->
    <add key="apiKey" value=""/>

    <!-- This is mandatory key and value should be equal
         to  Call Control Service registered application 'Secret key'
         example: value=""-->
    <add key="secretKey" value=""/>

    <!-- This is mandatory key and value should be equal
         to  https://api.att.com for production environment or 
         https://api-uat.san1.attcompute.com for uat environment
         example: value="https://api-uat.san2.attcompute.com"-->
    <add key="endPoint" value="" />

    <!-- This is mandatory key, which specifies the registered phone numbers 
         for this application. -->
    <add key="phoneNumbers" value=""/>

    <!-- This is mandatory key, which specifies the script name (path) 
         for this application. -->
    <add key="scriptName" value=""/>
    
  </appSettings>
</configuration>