<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
	</system.web>
  <appSettings>
    
    <!-- This is mandatory parameter, set the value as per your registered application 'API key' field value.
    -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter, set the value as per your registered application 'Secret key' field value.
    -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value=""></add>

    <!-- Set to the URL pointing to the application. ATT platform uses this URL to return the control back to the application after authorization.
    -->
    <add key="authorize_redirect_uri" value=""/>
    
  </appSettings>
  
 </configuration>
