/* global settings and resets */
body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,em,a,img,td,th,form,blockquote,iframe
	{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-align: left;
}

div#header {
	background: url(../images/att.gif) left center no-repeat;
	background-size: auto;
	margin: 10px 5px;
	padding-top: 10px;
}

#chunked {
	margin-top:10px;
}

blockquote {
	padding: 24px;
}

table {
	border-collapse: collapse;
}

html {
	height: 100%;
	background-color: #d9e9ef;
	background: -moz-linear-gradient(top, #ffffff 0%, #d9e9ef 100%, #d9e9ef 100%)
		fixed; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #d9e9ef), color-stop(100%, #d9e9ef) ) fixed;
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #d9e9ef 100%, #d9e9ef 100%)
		fixed; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #d9e9ef 100%, #d9e9ef 100%)
		fixed; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #d9e9ef 100%, #d9e9ef 100%)
		fixed; /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #d9e9ef 100%, #d9e9ef 100%)
		fixed; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#d9e9ef', GradientType=0 ); /* IE6-9 */
}

body {
	color: #626365;
	/*font: 14px/1.231 arial, helvetica, clean, sans-serif;*/
	font: 14px/1 arial, helvetica, clean, sans-serif;
}

input,select {
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

img,embed,object,video {
	max-width: 100%;
}

a:link {
	text-decoration: none;
	color: #5383cd;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #5383cd;
}

em {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

ol {
	margin-left: 21px;
}

ul {
	list-style: none;
	margin-left: 0;
}

ul.ulNavigation {
	list-style: none !important;
}

.content #formData,h3 {
	text-align: left;
}

.content ul li {
	padding-bottom: 5px;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	color: #58595b;
}

h1 {
	font-size: 25px;
	text-transform: uppercase;
	line-height: 120%;
	font-weight: bold;
}

h2 {
	background-color: #d9e9ef;
	padding: 10px;
	margin: 12px 0 20px 0;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	color: #58595b;
}

h3 {
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0 0 0;
}

p,li {
	line-height: 1.3;
}

.contentWrapper {
	border: 3px solid #004A80;
	border-bottom: none;
}
/* buttons */
.button {
	font-size: 14px;
	font-weight: bold;
	padding: 2px 11px;
	border: 1px solid #ffffff;
	overflow: visible;
	text-transform: uppercase;
	-moz-box-shadow: 1px 2px 4px rgba(000, 000, 000, 0.5), inset 0px 0px 1px
		rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 1px 2px 4px rgba(000, 000, 000, 0.5), inset 0px 0px
		1px rgba(255, 255, 255, 0.7);
	box-shadow: 1px 2px 4px rgba(000, 000, 000, 0.5), inset 0px 0px 1px
		rgba(255, 255, 255, 0.7);
	color: #ffffff;
	background: #f47b20; /* Old browsers */
	background: -moz-linear-gradient(top, #f47b20 0%, #f47b20 49%, #e46608 50%, #e46608
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47b20),
		color-stop(49%, #f47b20), color-stop(50%, #e46608),
		color-stop(100%, #e46608) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f47b20 0%, #f47b20 49%, #e46608 50%,
		#e46608 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f47b20 0%, #f47b20 49%, #e46608 50%, #e46608
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f47b20 0%, #f47b20 49%, #e46608 50%, #e46608
		100%); /* IE10+ */
	background: linear-gradient(top, #f47b20 0%, #f47b20 49%, #e46608 50%, #e46608 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f47b20',
		endColorstr='#e46608', GradientType=0 ); /* IE6-9 */
}

.button:hover {
	cursor: pointer;
	background: #f47b20; /* Old browsers f47b20 e46608 */
	background: -moz-linear-gradient(top, #e46608 0%, #e46608 49%, #f47b20 50%, #f47b20
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e46608),
		color-stop(49%, #e46608), color-stop(50%, #f47b20),
		color-stop(100%, #f47b20) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e46608 0%, #e46608 49%, #f47b20 50%,
		#f47b20 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e46608 0%, #e46608 49%, #f47b20 50%, #f47b20
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e46608 0%, #e46608 49%, #f47b20 50%, #f47b20
		100%); /* IE10+ */
	background: linear-gradient(top, #e46608 0%, #e46608 49%, #f47b20 50%, #f47b20 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e46608',
		endColorstr='#f47b20', GradientType=0 ); /* IE6-9 */
}

a.button,a.button:link,a.button:visited {
	color: #fff;
}

.button.disabledButton,.button.disabledButton:hover {
	color: #f5f5f5;
	background: #d9e9ef; /* Old browsers */
	background: -moz-linear-gradient(top, #e0e0e0 0%, #e0e0e0 49%, #d1d0d0 50%, #d1d0d0
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0),
		color-stop(49%, #e0e0e0), color-stop(50%, #d1d0d0),
		color-stop(100%, #d1d0d0) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0e0e0 0%, #e0e0e0 49%, #d1d0d0 50%,
		#d1d0d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 0%, #e0e0e0 49%, #d1d0d0 50%, #d1d0d0
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 0%, #e0e0e0 49%, #d1d0d0 50%, #d1d0d0
		100%); /* IE10+ */
	background: linear-gradient(top, #e0e0e0 0%, #e0e0e0 49%, #d1d0d0 50%, #d1d0d0 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e0e0e0',
		endColorstr='#d1d0d0', GradientType=0 ); /* IE6-9 */
}

a.button.disabledButton,a.button.disabledButton:link,a.button.disabledButton:visited
	{
	color: #f5f5f5;
}

/* utility classes */
.center,.img_3 {
	text-align: center;
}

.clear,.cleardiv {
	clear: both;
}

.formBox {
	overflow: hidden;
	position: relative;
}

.float-left,.floatLeft,.yui-u {
	float: left;
}

.float-right,.floatRight {
	float: right;
}

img.float-left,img.floatLeft {
	padding-right: 10px;
}

.hide,.hidden,.hiddenEl {
	display: none;
}

br { /*display: none;  br tags are for retards */
	
}

.padContent {
	padding: 12px;
}
/* END global settings and resets */

/* basic layout */
#header {
	height: auto;
	background-color: transparent;
	overflow: hidden;
	background-position: 0px 13px;
	background-repeat: no-repeat;
}

#header .logo {
	width: 30%;
	float: left;
	height: 63px;
}

#header .logo a {
	display: block;
	height: 63px;
	text-indent: -5000px;
}

#nav { /*width: 60%;*/
	float: right;
	text-align: right;
	padding-top: 41px;
}

#nav li { /*text-align: right;*/
	display: inline;
}

#nav #back {
	display: none;
}

#header img {
	vertical-align: bottom
}

#powered_by {
	float: right;
	width: 20%;
	font-size: 9px;
	text-align: right;
}

#submitli {
	text-align: center;
}

.pageContainer {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 99%;
	/*min-width: 615px;*/
	max-width: 960px;
	margin: auto;
	border: 1px solid #004A80;
}

.content {
	background-color: #fff;
	overflow: hidden;
}

#footer {
	background-color: white;
	text-align: center;
	overflow: hidden;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 11px;
	border-top: 3px solid #004A80;
}

#ft {
	padding-top: 20px;
	padding-bottom: 50px;
}

#ft h3 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	font-size: 11px;
}

#ft h3 strong {
	display: none;
}

#ft a:link {
	color: #626365;
}

table.kvp {
	width: 90%;
	margin-bottom: 10px;
}

th.label {
	text-align: center;
}

td.cell {
	text-align: center;
}

.errorWide {
	float: left;
	border: 3px outset red;
	background: #fcc;
	width: 94%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

.successWide {
	float: left;
	border: 3px outset green;
	background: #cfc;
	width: 94%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

.resultsDetails {
	padding: 10px 32px 5px;
}

tr.last td {
	padding-bottom: 15px;
}

tbody.last tr.last td {
	padding-bottom: 15px;
}

.formContainer {
	padding-right: 9px;
}

.icon {
	overflow: hidden;
}

.contentPadding>h4:first-child {
	padding-top: 7px;
}

.contentHeading {
	padding: 0px;
}

.contentHeading h1 {
	text-align: left;
	text-transform: uppercase;
	font-size: 1.6em;
	color: #57585a;
	padding-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
}

.contentHeading h2 {
	text-align: left;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 18px;
	color: #57585a;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.contentHeading #introtext {
	color: #57585a;
	padding: 20px 0 15px 0;
	font-size: 12px;
	border-top: 3px solid #004A80;
	padding-left: 15px;
}

.contentHeading .hr {
	display: none;
}

.relatedLinks {
	font-size: inherit;
	color: #069;
	float: right;
}

.formBox th.resultsDetails {
	padding-top: 15px;
	padding-bottom: 8px;
	color: #626365;
}

#formBox {
	width: 100%;
}

#formContainer {
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;
}

.noteContent {
	max-width: 187px;
	padding: 5px;
	margin: 0 5px 12px 15px;
	background: #DDF0F8;
	border: 1px solid #9ACCE6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font: 14px arial, helvetica, clean, sans-serif;
}

noteContent .contentPadding {
	padding: 7px;
}

.noteContent h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	padding-left: 13px;
	background: #DDF0F8;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 18px;
	color: #069;
	margin: 4px 0 0 0px;
}

.noteContent label,.noteContent h4 {
	font-size: 12px;
	font-weight: normal;
	color: #707070;
	padding-bottom: 3px;
}

.noteContent input {
	margin: 0;
}

.noteContent h4 label {
	font-weight: bold;
}

.label,.cell {
	font: 12px Arial, Sans-serif
}

.label {
	font-weight: bold
}

@media ( max-width : 800px) {
	.contentHeading h1 {
		font-size:1.3em;
	}
	
	/* general */
	#header {
		-webkit-transition-property: padding;
		-webkit-transition-duration: 0.5s;
		padding-top: 0;
		background-color: #77b1c6;
		height: 41px;
		background-position: 8px 7px;
	}
	#header .logo img {
		max-width: inherit;
		position: relative;
		top: 3px;
	}
	#menuButton {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 44px;
		text-indent: -5000px;
		background: transparent url(../images/menu_button.png) no-repeat center
			center;
		background-color: #0077B5;
		margin-right: 3px;
	}
	#menuButton a {
		display: block;
		height: 37px;
	}
	#nav .divider,#nav li {
		display: none;
	}
	#nav {
		position: absolute;
		top: 0;
		right: 0px;
		padding-top: 44px;
		z-index: 1000;
	}
	#nav:target li {
		border-top: 1px solid #fff;
		display: block;
	}
	#nav:target li#back {
		border-top: none;
		display: block;
	}
	#nav a {
		color: #fff;
		background-color: #0077B5;
		display: block;
		padding: 10px 20px;
	}
	#jump { /* make sure the menu button is on top */
		z-index: 1001;
	}
	#nav:target { /* unless it&rsquo;s showing */
		z-index: 1001;
	}
	#nav:target a { /* make nav links sit up a level */
		position: relative;
		z-index: 1;
		margin-right: 3px;
	}
	#back { /* establish a positioning context for the closer */
		position: relative;
	}
	#nav:target #back a { /* turn the link into a ghost */
		background: transparent;
		border: 0;
		text-indent: -999em;
		/* make it fill the screen */
		position: fixed;
		top: -101em;
		bottom: -101em;
		left: -101em;
		right: -101em;
		/* ensure it sits behind the other links */
		z-index: 0;
	}
	.formContainer {
		padding-right: 12px;
	}
	#nav:target a.icon {
		display: none;
	}
}

@media screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) ,
		screen and (max-width: 800px) and (min--moz-device-pixel-ratio: 2) {
	#menuButton {
		background: transparent url(../images/menu_button.png) no-repeat
			center center;
		background-size: 30px 27px;
		margin-right: 3px;
	}
	#nav:target a.icon {
		display: none;
	}
}

@media ( max-width : 600px) {
	#header img {
		display: inline;
	}
	.contentHeading {
		padding-bottom: 0;
	}
	.formContainer {
		padding: 0;
		margin-left: 0;
	}
	.contentHeading h1 {
		padding-top: 0;
	}
	#nav:target a.icon {
		display: none;
	}
}

/* menu */
@media ( max-width : 800px) {
	#header {
		background-color: #77b1c6;
	}
	#header .logo img {
		left: -12px;
		background-color: #0077B5;
	}
	#nav a {
		background-color: #0077B5;
	}
	#menuButton {
		background-color: #0077B5;
		margin-right: 3px;
	}
	#nav:target a.icon {
		display: none;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) , screen and
	(min--moz-device-pixel-ratio: 2) {
	#header {
		background-size: 258px 46px;
	}
	#nav:target a.icon {
		display: none;
	}
}

@media screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) ,
		screen and (max-width: 800px) and (min--moz-device-pixel-ratio: 2) {
	#header {
		background-size: 179px 31px;
	}
	#nav:target a.icon {
		display: none;
	}
}
