<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>mms</display-name>
  <welcome-file-list>
    <welcome-file>MMS.jsp</welcome-file>
  </welcome-file-list>
  <display-name>AT&amp;T MMS Sample Application</display-name>

  <servlet>
    <servlet-name>MMSController</servlet-name>
    <servlet-class>com.att.api.mms.controller.MMSController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MMSController</servlet-name>
    <url-pattern>/MMSAction</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MMSController</servlet-name>
    <url-pattern>/index.jsp</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MMSController</servlet-name>
    <url-pattern>/MMS.jsp</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MMSController</servlet-name>
    <url-pattern>/refresh</url-pattern> 
  </servlet-mapping>

  <servlet>
    <servlet-name>MMSListenerController</servlet-name>
    <servlet-class>com.att.api.mms.controller.MMSListenerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MMSListenerController</servlet-name>
    <url-pattern>/listener.jsp</url-pattern> 
  </servlet-mapping>

  <servlet>
    <servlet-name>MMSStatusListener</servlet-name>
    <servlet-class>com.att.api.mms.controller.MMSStatusListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MMSStatusListener</servlet-name>
    <url-pattern>/statuslistener.jsp</url-pattern> 
  </servlet-mapping>

</web-app>
