<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
	</system.web>
  <appSettings>
    
    <!-- This is Manadatory parameter. set the value as per your registered application 'short code' field value.
    -->
    <add key="short_code" value=""/>

    <!-- This is manadatory parameter, which points to the directory, where the MO images received for the short code will be saved by listener of the application.
	 example: value="<AppDomain>\\MoImages\\"
    -->
    <add key="ImageDirectory" value=""/>

    <!-- This is optional parameter, which defines the number of images to be displayed by the photo album application, default is 10.
    -->
    <add key="NumOfFilesToDisplay" value=""/>
    
  </appSettings>
 </configuration>
