<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0"/>
      <customErrors mode="Off"></customErrors>
    </system.web>
  <appSettings>
    <!-- This is mandatory parameter,Set the value as per your registered application 'API key' field value.
    -->
    <add key="api_key" value=""/>

    <!-- This is mandatory parameter,Set the value as per your registered application 'Secret key' field value.
    -->
    <add key="secret_key" value=""/>

    <!-- This is mandatory parameter, Set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value=""></add>

    <!-- This is manadatory parameter, which points to the file path,from where application reads the message content to be sent along with the coupon.
	 example: value="coupon_info\\message.txt"
    -->
    <add key="messageFilePath" value=""/>

    <!-- This is manadatory parameter, which points to the file path, from where application reads the destination address for sending coupon.
	 example: value="coupon_info\\phone.txt"
    -->
    <add key="phoneListFilePath" value=""/>

    <!-- This is mandatory parameter, which is the name of the image/coupon to be sent, make sure that the image exists in the "couponPath" key directory.
	 example: value="coupon_info\\coupon.jpg"
    -->
    <add key="couponFilePath" value=""/>
    
  </appSettings>
</configuration>
